// ==========================
// Homepage cover
// ==========================
.cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  height: 550px;
  color: $white-base;
  background-color: $gray-light;
}

.cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: image-url('static/home-cover-03.jpg');
  background-position: top center;
  background-size: cover;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .5;
    background-color: $gray-base;
  }
}

.cover .container {
  margin-top: 155px;
}

.cover-text {
  max-width: 620px;
  margin-top: 0;
  padding-right: 50px;
}

.cover-text__top {
  font-family: 'adobe-garamond-pro';
  font-size: 45px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 15px;
}

.cover-text__bottom {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.45;
  max-width: 425px;
  margin-top: 0;
  margin-bottom: 15px;
}

.cover .signup-text {
  font-size: 25px;
  margin-bottom: 9px;
}

.cover .signup-form .form-control {
  border: 0;
}

.cover .signup-form .hr-label {

  &:before,
  &:after {
    border-color: rgba($white-base, .5);
  }
}

.cover .signup-form .privacy-link {
  color: $white-base;

  &:hover {
    color: $white-base;
  }
}


// ==========================
// Homepage section
// ==========================
.home-section {
  padding: 100px 0;
}

.home-section .container {
  max-width: 970px;
}

.home-section--gray {
  background-color: $gray-lightest;

  .home-section__thumb:after {
    background-image: linear-gradient(to top, $gray-lightest 1%, rgba(249, 249, 249, 0) 40%);
  }
}

.home-section--form {
  padding: 90px 0 120px 0;
}

.home-section__thumb {
  position: relative;
  display: block;
  max-width: 375px;
  margin: 0 auto;
  padding: 12px 1px 1px 1px;
  border-radius: 4px;
  background-color: $gray-lighter;

  img {
    width: 100%;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-image: linear-gradient(to top, $white-base, rgba(255, 255, 255, 0) 40%);
  }
}

.home-section__text {
  font-weight: 300;
  line-height: 1.3;
  margin-top: 0;
  padding: 0 15px;

  small {
    font-size: 65%;
    font-weight: inherit;
    line-height: 65%;
    display: block;
    margin-bottom: 6px;
  }
}


// ==========================
// Screen size medium
// ==========================
@media (max-width: $screen-md-min) {
  
  .cover {
    height: auto;
  }

  .cover .container {
    margin: 60px auto;
  }

  .cover-text {
    padding: 0;
  }

  .cover-text__top {
    font-size: 32px;
  }

  .cover-text__bottom {
    font-size: 19px;
    max-width: auto;
    margin-bottom: 30px;
  }

  .home-section {
    padding: 75px 0 50px 0;
  }

  .home-section--form {
    padding: 50px 0 90px 0;
  }

  .home-section .container {
    padding: 0 30px;
  }

  .home-section__text {
    margin: 0;
    padding: 45px 0 0 0;
  }

}

@media (max-width: $screen-sm-min) {

  .cover .container {
    padding: 0 30px;
  }

}
