// ==========================
// Colors
// ==========================
$color-white: #fff;
$color-black: #000;
$color-grey-light: #f6f6f6;
$color-grey-medium: #999;
$color-grey-dark: #222;
$color-blue: #0054ff;
$color-purple: #6933c0;
