<div class="page page-account">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">
    
        <%= render 'shared/signup_form', title: 'Sign up', is_home: false %>

        <%= render "devise/shared/links" %>

      </div>
    </div>
  </div>
</div>
