// ==========================
// Admin + User dashboard
// ==========================
.page-dashboard {
  position: relative;
  min-height: calc(100vh - 273px);
}

.page-dashboard .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-dashboard .well {
  background: transparent;
  box-shadow: none;
}

.page-dashboard .panel-heading {
  font-weight: 600;
}

.page-dashboard .checkbox {
  margin-top: 0;
}

.page-dashboard input[type="submit"] {
  margin-top: 10px;
  margin-bottom: 20px;
}

.page-dashboard .pagination {
  margin: 0;
}

td.card-difficulty {
  width: 50%;
  .progress-difficulty {
    margin-bottom: 2px;
  }
}

.progress-difficulty {
  overflow: visible;
  height: 18px;
  background-color: $white-base;
}

.progress-bar-difficulty {
  position: relative;
  border-left: 1px solid $gray-brand-lighter;
  span {
    font-weight: 600;
    position: absolute;
    top: 20px;
    left: 0;
    min-width: 200px;
    text-align: left;
    opacity: 0;
    color: $gray-dark;
  }
  &:hover {
    span {
      opacity: 1;
    }
  }
}

@for $i from 1 through 11 {
  .progress-bar-difficulty:nth-of-type(#{12 - $i}) {
    background-color: lighten($brand-base, percentage($i/35));
    @if $i == 11 {
      border-radius: 3px 0 0 3px;
      border-left: 0;
    } 
    @if $i == 1 {
      border-radius: 0 3px 3px 0;
    }
    @if $i < 7 {
      span {
        right: 0 !important;
        left: auto;
        text-align: right;
      }
    }
  }
}

.organize-prompt-btn-add {
  margin-top: 10px;
}

.organize-prompt-list {
  margin-bottom: 0;
}

.organize-prompt-list .glyphicon-remove {
  float: right;
  cursor: pointer;
  color: $gray-btn-bg;
  &:hover {
    color: $gray-btn-bg-hover;
  }
}

.organize-prompt-list .glyphicon-resize-vertical {
  margin-right: 10px;
  cursor: move;
  cursor: grab;
}
