// ==========================
// Admin + User dashboard
// ==========================
.page-dashboard {
  position: relative;
  min-height: calc(100vh - 273px);
}

.page-dashboard .container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-dashboard .well {
  background: transparent;
  box-shadow: none;
}

.page-dashboard .panel-heading {
  font-weight: 600;
}

.page-dashboard .checkbox {
  margin-top: 0;
}

.page-dashboard input[type="submit"] {
  margin-top: 10px;
  margin-bottom: 20px;
}

.page-dashboard .pagination {
  margin: 0;
}

.organize-prompt-btn-add {
  margin-top: 10px;
}

.organize-prompt-list {
  margin-bottom: 0;
}

.organize-prompt-list .glyphicon-remove {
  float: right;
  cursor: pointer;
  color: $gray-btn-bg;
  &:hover {
    color: $gray-btn-bg-hover;
  }
}

.organize-prompt-list .glyphicon-resize-vertical {
  margin-right: 10px;
  cursor: move;
  cursor: grab;
}
