.page-home .signup-form-header {
  font-weight: 300;
}

.page-home .cover {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  height: 550px;
  color: #fff;
  background-color: $gray-light;
}

.page-home .cover-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: image-url('static/home-cover-03.jpg');
  background-position: top center;
  background-size: cover;
  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    opacity: .4;
    background-color: $gray-base;
  }
}

.page-home .cover .container {
  margin-top: 155px;
}

.page-home .cover-text {
  max-width: 620px;
  margin-top: 0;
  padding-right: 50px;
  text-shadow: $shadow-base;
}

.page-home .cover-text-top {
  font-family: $serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 1.3;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-home .cover-text-bottom {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.45;
  max-width: 425px;
  margin-top: 0;
  margin-bottom: 15px;
}

.page-home .cover .signup-form-header {
  font-size: 25px;
  margin-top: 4px;
  margin-bottom: 9px;
}

.page-home .cover .signup-form .form-control {
  border: 0;
}

.page-home .cover .signup-form .hr-label {
  &:before,
  &:after {
    border-color: rgba(#fff, .5);
  }
}

.page-home .cover .signup-form .privacy-link {
  color: #fff;
  &:hover {
    color: #fff;
  }
}

.page-home .home-section {
  padding: 100px 0;
}

.page-home .home-section .container {
  max-width: 970px;
}

.page-home .home-section-gray {
  background-color: $gray-brand-lightest;
  .home-section-thumb:after {
    background-image: linear-gradient(to top, $gray-brand-lightest 1%, rgba(249, 249, 249, 0) 40%);
  }
}

.page-home .home-section-form {
  padding: 90px 0 120px 0;
}

.page-home .home-section-thumb {
  position: relative;
  display: block;
  max-width: 375px;
  margin: 0 auto;
  padding: 12px 0 0 0;
  border-radius: 4px;
  background-color: $gray-lighter;
  box-shadow: 0 1px 3px $gray-lighter;
  img {
    width: 100%;
    border-radius: 0 0 4px 4px;
  }
}

.page-home .home-section-text {
  font-weight: 300;
  line-height: 1.3;
  margin-top: 0;
  padding: 0 15px;
  small {
    font-size: 65%;
    font-weight: inherit;
    line-height: 65%;
    display: block;
    margin-bottom: 6px;
  }
}

@media (max-width: $screen-md-min) {
  .page-home .cover {
    height: auto;
  }

  .page-home .cover .container {
    margin: 60px auto;
  }

  .page-home .cover-text {
    padding: 0;
  }

  .page-home .cover-text-top {
    font-size: 32px;
  }

  .page-home .cover-text-bottom {
    font-size: 19px;
    max-width: auto;
    margin-bottom: 30px;
  }

  .page-home .home-section {
    padding: 75px 0 50px 0;
  }

  .page-home .home-section-form {
    padding: 50px 0 90px 0;
  }

  .page-home .home-section .container {
    padding: 0 30px;
  }

  .page-home .home-section-text {
    margin: 0;
    padding: 45px 0 0 0;
  }
}

@media (max-width: $screen-sm-min) {
  .page-home .cover .container {
    padding: 0 30px;
  }
}
