.page-learn {
  position: relative;
  margin: 45px 0;
}

.page-learn .container-learn {
  position: absolute;
  top: 0;
  left: 0;
  min-height: calc(100vh - 72px);
  width: 100%;
  background-color: $white-base;
}
