// ==========================
// Policy pages
// ==========================
.page-policy {
  min-height: calc(100vh - 268px);
  padding: 30px 0 100px;
  background: linear-gradient(to bottom, $gray-lighter 0%, $gray-page-bg 100%);
}
