// ==========================
// Devise login pages
// ==========================
.page-account {
  min-height: calc(100vh - 268px);
  padding: 60px 0 100px;
  background: linear-gradient(to bottom, $gray-lighter 0%, $gray-lightest 5px);
}

.page-account .signup-form #error_explanation {
  border: 1px solid rgba($gray-light, .3);
}

.page-account .devise-link {
  font-size: 13px;
  font-weight: 600;
  display: inline-block;
  float: left;
  clear: both;
  margin-bottom: 10px;
  color: $purple-base;
}

.page-account .signup-form .form-group em {
  color: $gray-light;
}

.page-account .signup-form .btn {
  font-size: 16px;
}
