<div class="page page-dashboard page-dashboard--light">
  <div class="wrapper wrapper--light">
    <div class="container">
      <div class="pagehead">
        <div class="row">
          <div class="col-xs-12 col-flex">
            <ol class="breadcrumb">
              <li class="active">Dashboard</li>
            </ol>
            <div class="btn-toolbar">
              <label>Filter by:</label>
              <div class="btn-group btn-group-sm" data-toggle="buttons">
                <% Category.all.each do |category| %>
                <label class="btn btn-default active">
                  <input type="checkbox" autocomplete="on" checked><%=category.name %>
                </label>
                <% end %>
              </div>
              <label>Sort by:</label>
              <div class="btn-group btn-group-sm" data-toggle="buttons">
                <label class="btn btn-default active">
                  <input type="radio" name="options" autocomplete="off" checked> Title
                </label>
                <label class="btn btn-default">
                  <input type="radio" name="options" autocomplete="off"> Author
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="grid">
          <% @decks.each do |deck| %>
            <%= render 'dashboard_deck', deck: deck %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
