@font-face {
  font-family: 'San Francisco';
  font-weight: 300;
  src: url(font-path('sanfranciscodisplay-thin-webfont.woff'));
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url(font-path('sanfranciscodisplay-regular-webfont.woff'));
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 500;
  src: url(font-path('sanfranciscodisplay-medium-webfont.woff'));
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 600;
  src: url(font-path('sanfranciscodisplay-semibold-webfont.woff'));
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 700;
  src: url(font-path('sanfranciscodisplay-bold-webfont.woff'));
}

@font-face {
  font-family: 'Canela';
  font-weight: 300;
  src: url(font-path('canela-light-webfont.woff'));
}

@font-face {
  font-family: 'Canela';
  font-weight: 400;
  src: url(font-path('canela-regular-webfont.woff'));
}
