@font-face {
  font-family: 'San Francisco';
  font-weight: 100;
  src: url(font-path('sanfranciscodisplay-ultralight-webfont.woff'));
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 200;
  src: url(font-path('sanfranciscodisplay-thin-webfont.woff'));
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 400;
  src: url(font-path('sanfranciscodisplay-regular-webfont.woff'));
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 500;
  src: url(font-path('sanfranciscodisplay-medium-webfont.woff'));
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 600;
  src: url(font-path('sanfranciscodisplay-semibold-webfont.woff'));
}

@font-face {
  font-family: 'San Francisco';
  font-weight: 700;
  src: url(font-path('sanfranciscodisplay-bold-webfont.woff'));
}
