$sans-serif: 'San Francisco', helvetica, sans-serif;
$serif: 'Canela', Garamond, serif;
$gray-btn-bg: lighten($gray-base, 90%) !default;
$gray-btn-bg-hover: lighten($gray-base, 88%) !default;
$gray-brand-lighter: lighten($gray-base, 96%) !default;
$gray-brand-lightest: lighten($gray-base, 98%) !default;
$brand-base: #7B6CF1;
$brand-light: lighten($brand-base, 10.5%) !default;
$brand-lighter: lighten($brand-base, 20%) !default;
$brand-lightest: lighten($brand-base, 43.5%) !default;
$brand-dark: darken($brand-base, 5.5%) !default;
$brand-darker: darken($brand-base, 20%) !default;
$shadow-base: 0 1px 2px rgba(0,30,50,.15);
$spectrum: 360deg;
$offset: 20deg;
$states: (
  'needs-review',
  'unpublished',
  'published',
  'free',
  'paid'
);
$needs-review: state-color(needs-review);
$published: state-color(published);
$unpublished: state-color(unpublished);
$paid: state-color(paid);
$free: state-color(free);
$slides-length: 5;
$slide-interval: 5;
