<table class="header">
  <tr>
    <td>
      <%= link_to root_url, class: 'header-logo' do %>
        <%= image_tag 'logo-black.png', class: 'header-logo__image' %>
      <% end %>
    </td>
  </tr>
</table>
