<footer id="page-footer" class="footer">
  <div class="container">
    <div class="row">
      <ul class="list-inline">
        <li><%= link_to 'Privacy', privacy_path %></li>
        <li class="copyright pull-right">&copy; Erudition 2016</li>
      </ul>
    </div>
  </div>
</footer>
