<div class="cover">
  <div class="cover-image"></div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-7">
        <div class="cover-text">
          <h1 class="cover-text__top">Discover the greatest works of literature ever written.</h1>
          <h2 class="cover-text__bottom">Supercharge your study session with curated lesson plans designed to help you learn things faster and remember them even longer.</h2>
        </div>
      </div>
      <div class="visible-xs col-xs-12 signup-form">
        <div class="form-group">
          <%= link_to 'Signup for Free', new_user_registration_path, class: 'btn btn-brand btn-block' %>
        </div>
        <div class="hr-label hidden">
          <span class="hr-label__text">or</span>
        </div>
        <div class="form-group hidden">
          <button type="submit" class="btn btn-default btn-block">Signup for Free with Facebook</button>
        </div>
      </div>
      <div class="hidden-xs col-xs-12 col-sm-5">
        <%= render 'shared/signup_form', title: 'Sign up', is_home: true %>
      </div>
    </div>
  </div>
</div>
