<section class="home-cover">
  <div class="slides">
    <ul>
      <li><%= image_tag 'static/home-cover-01.jpg' %></li>
      <li><%= image_tag 'static/home-cover-02.jpg' %></li>
      <li><%= image_tag 'static/home-cover-03.jpg' %></li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div id="typed-strings">
          <p>Discover the greatest works of literature ever written.</p>
          <p>Discover the greatest works of art ever painted.</p>
          <p>Discover the greatest works of philosophy ever concieved.</p>
        </div>
        <span id="typed" class="typed"></span>
        <div class="controls">
          <a class="btn btn-default previous"><</a>
          <a class="btn btn-default next">></a>
        </div>
      </div>
    </div>
  </div>
</section>
