<section class="home-cta">
  <div class="container">
    <button>Scroll down to learn more</button>
  </div>
</section>
<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <div class="thumb">
          <%= image_tag 'static/home-screenshot-01.jpg' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7">
        <h2>Hundreds of questions about a book automatically adapt to your level of expertise.</h2>
        <p>
          Every book in our extensive library features hundreds of questions of varying difficulty, which adapt with more challenging content as you continue to study. Whether you are unfamiliar with a work or a professor who specializes in it, the site will find questions that are appropriately difficult for you while encouraging you to delve deeper.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <div class="thumb">
          <%= image_tag 'static/home-screenshot-02.jpg' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7">
        <h2>Understand a book’s cultural context.</h2>
        <p>Every title in our library is studied against the background of stunning works of art. Adaptive questions about beautiful, high-resolution images of art created in the same cultural context as the books you are studying give you insight into the society that gave rise to them.</p>
      </div>
    </div>
  </div>
</section>
<section class="home-section">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-5">
        <div class="thumb">
          <%= image_tag 'static/home-screenshot-03.jpg' %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-7">
        <h2>Get a meaningful evaluation of what you actually know.</h2>
        <p>Our Living Transcript™ not only tells you how much of a book you have covered. It also tells you how long you are likely to remember what you know before forgetting it. It shows you to what extent you will meaningfully be able to talk about it and also to what extent you can reconstruct the critical debates surrounding it.</p>
      </div>
    </div>
  </div>
</section>
