<h3 class="signup-text"><%= title %></h3>
<form class="form-horizontal signup-form cover-signup-form">
  <div class="form-group">
    <div class="col-xs-12">
      <input class="form-control" placeholder="Full Name">
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12 col-md-6">
      <input type="email" class="form-control" placeholder="Email">
    </div>
    <div class="col-xs-12 col-md-6">
      <input type="password" class="form-control" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <div class="checkbox">
        <label>
          <input type="checkbox"> I agree to the <%= link_to 'Erudition Terms', root_path, class: 'privacy-link' %>
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-default btn-block">Signup for Free</button>
    </div>
  </div>
  <div calss="form-group">
    <div class="col-xs-12 hr-label">
      <span class="hr-label__text">or</span>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <button type="submit" class="btn btn-default btn-block">Signup for Free with Facebook</button>
    </div>
  </div>
</form>
