<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2 learn-panel prompt">
      <div class="content">
        <h1>Prompt</h1>
        <p>
          <%= @prompt.content %>
        </p>
      </div>
      <div class="controls">
        <%= link_to 'View Answer', "/learn/#{@user.id}/#{@deck.id}/response", remote: true, class: 'btn btn-brand btn-outline' %>
      </div>
    </div>
  </div>
</div>
