<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2 learn-panel reponse">
      <div class="content">
        <% if @response_was_correct %>
          <p>Correct</p>
        <% else %>
          <p>Incorrect</p>
        <% end %>
      </div>
      <div class="controls">
      <% if @cards_remaining %>
        <%= link_to 'Next Prompt', "/learn/#{@user.id}/#{@deck.id}/get-card-prompt",
          remote: true, class: 'btn btn-brand btn-outline' %>
      <% else %>
        <%= link_to 'Next Quote', "/learn/#{@user.id}/#{@deck.id}",
          class: 'btn btn-brand btn-outline' %>
      <% end %>
      </div>
    </div>
  </div>
</div>
