<div class="page page-dashboard">
  
  <div class="wrapper wrapper--light">
    <div class="container">
      <div class="dashboard-pagehead">
        <div class="row">
          <div class="col-xs-12">
            <ol class="breadcrumb">
              <li class="active">Create Card</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-sm-5">
      Create Card Form ...
    </div>
  </div>
</div>

</div>