.footer {
  font-weight: 600;
  color: $gray-lighter;
  background: $gray-dark;
}

.footer .row {
  padding: 50px 20px 120px;
}

.footer a {
  color: $gray-lighter;
}

.footer .copyright {
  opacity: .5;
}

.footer .list-inline > li {
  padding: 0 15px;
}
