.grid {
  display: flex;
  margin: 0 -15px;

  flex-wrap: wrap;
}

.grid .block {
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin: 15px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.07);
}

.grid .block-last-active {
  &:after {
    position: absolute;
    top: 6px ;
    right: 6px;
    width: 6px;
    height: 6px;
    content: '';
    border-radius: 6px;
    background-color: $brand-danger;
  }
}

.grid .block .block-details {
  position: relative;
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;
  .title-link {
    font-family: $serif;
    padding: 20px;
    text-decoration: none !important;
    color: $gray-base;

    flex: 1 1 auto;
    h2,
    h4 {
      font-weight: 400;
      margin: 0;
    }
    .title {
      font-size: 28px;
    }
    .subtitle {
      line-height: 1.3em;
      margin: 8px 0 12px 0;
    }
  }
  .meta {
    font-size: 12px;
    font-weight: 400;
    position: relative;
    padding: 20px;
    color: $gray-light;
    .categories {
      margin-top: 5px;
    }
    .author {
      font-weight: 600;
      color: $gray-base;
    }
  }
}

.grid .block-sm {
  .block-details {
    font-size: 12px;
    font-weight: 600;
    padding: 12px 15px 14px 15px;
    color: $gray-base;
    .author {
      font-size: 11px;
      font-weight: 400;
      margin-top: 2px;
      color: $gray-light;
    }
  }
  &:hover {
    text-decoration: none;
  }
}

@media (max-width: $screen-xs-max) {
  .grid .block {
    width: calc(100% - 30px);
    &.block-sm {
      width: calc(50% - 30px);
    }
  }
}

@media (min-width: $screen-sm-min) {
  .grid .block {
    width: calc(50% - 30px);
  }
}

@media (min-width: $screen-md-min) {
  .grid .block {
    width: calc(33.333% - 30px);
    &.block-sm {
      width: calc(20% - 30px);
    }
  }
}

@media (min-width: $screen-lg-min) {
  .grid .block.block-sm {
    width: calc(16.666% - 30px);
  }
}
