.home-section {
  padding: 100px 0;
}

.home-section.home-section-gray {
  background-color: $gray-brand-lightest;
}

.home-section.home-section-form {
  padding: 90px 0 120px 0;
}

.home-section .container {
  max-width: 970px;
}

.home-section .thumb {
  position: relative;
  display: block;
  max-width: 375px;
  margin: 0 auto;
  padding: 12px 0 0 0;
  border-radius: 4px;
  background-color: $gray-lighter;
  box-shadow: 0 1px 3px $gray-lighter;
  img {
    width: 100%;
    border-radius: 0 0 4px 4px;
  }
}

.home-section .text {
  font-weight: 300;
  line-height: 1.3;
  margin-top: 0;
  padding: 0 15px;
  small {
    font-size: 65%;
    font-weight: inherit;
    line-height: 65%;
    display: block;
    margin-bottom: 6px;
  }
}

@media (max-width: $screen-md-min) {
  .home-section {
    padding: 75px 0 50px 0;
  }

  .home-section.home-section-form {
    padding: 50px 0 90px 0;
  }

  .home-section .container {
    padding: 0 30px;
  }

  .home-section .text {
    margin: 0;
    padding: 45px 0 0 0;
  }
}
