.navbar {
  margin-bottom: 0;
  border: 0;
  border-bottom: 1px solid $gray-lighter;
  background-color: #fff;
}

.navbar .navbar-brand {
  font-family: $serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  height: 20px;
  margin: 26px 0 !important;
  padding: 0;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #000;
}

.navbar .btn {
  margin: 20px 0 0 0;
}

.navbar .btn.signup {
  margin-left: 15px;
}

.navbar .navbar-header.navbar-right .btn {
  float: left;
}

.navbar .navbar-user {
  display: inline-block;
  margin-right: 15px;
}

.navbar.transparent {
  position: absolute;
  z-index: 15;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: none;
  background-color: transparent;
}

.navbar.transparent .navbar-brand {
  color: #fff;
}

.navbar.transparent .btn-default {
  color: #fff;
  border: 1px solid $gray-btn-bg;
  background-color: transparent;
  &:hover {
    color: $gray-dark;
    background-color: $gray-btn-bg;
  }
}

.navbar.transparent .btn-brand {
  border: 1px solid $brand-base;
  &:hover {
    border: 1px solid $brand-dark;
  }
}

.navbar.home {
  backface-visibility: hidden;
}

.navbar.home .navbar-btn.btn {
  font-weight: 400;
  border: none;
}

.navbar.home .navbar-btn.btn.signup {
  display: none;
}

@media (max-width: $screen-xs-max) {
  .container > .navbar-header {
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
  .container > .navbar-header.navbar-right {
    float: right;
  }
}
