.navbar {
  margin-bottom: 0;
  border: 0;
  border-bottom: 1px solid $gray-lighter;
  background-color: #fff;
}

.navbar .navbar-brand {
  width: 130px;
  height: 20px;
  margin: 26px 0 !important;
  padding: 0;
  text-indent: -2222px;
  background-image: image-url('logo-black.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar .btn {
  margin: 20px 0 0 0;
}

.navbar .navbar-user {
  display: inline-block;
  margin-right: 15px;
}

@media (max-width: $screen-xs-max) {
  .container > .navbar-header {
    float: left;
    margin-right: 0;
    margin-left: 0;
  }
  .container > .navbar-header.navbar-right {
    float: right;
  }
}
