// ==========================
// Signup form
// ==========================
.signup-text {
  line-height: 1.3;
  margin-bottom: 15px;
}

.signup-form .form-control {
  font-weight: 400;
  height: 37px;
  padding: 5px 10px;
  border: 0;
  border: 1px solid $gray-brand-lighter;
}

.signup-form .form-control::-moz-placeholder {
  color: $gray;
}

.signup-form .form-control:-ms-input-placeholder {
  color: $gray;
}

.signup-form .form-control::-webkit-input-placeholder {
  color: $gray;
}

.signup-form .btn {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 10px;
}

.signup-form .form-group em {
  font-size: 12px;
  font-style: normal;
  position: absolute;
  top: 10px;
  right: 25px;
  color: $gray-light;
}

.signup-form .hr-label {
  position: relative;
  clear: both;
  margin-top: -9px;
  margin-bottom: 5px;
  text-align: center;
  &:before,
  &:after {
    position: absolute;
    top: 9px;
    left: 2px;
    width: calc(50% - 22px);
    height: 1px;
    content: '';
    opacity: .5;
    border-bottom: 1px dotted rgba($gray-base, .5);
  }
  &:after {
    right: 2px;
    left: auto;
  }
}

.signup-form .hr-label__text {
  position: relative;
  display: inline-block;
  padding: 0 12px;
}

.signup-form .checkbox {
  min-height: 20px;
  padding-top: 0;
}

.signup-form label {
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
}

.signup-form .privacy-link {
  font-weight: 600;
  color: $gray-dark;
  &:hover {
    color: $gray-dark;
  }
}

.signup-form .col-md-6 {
  &:first-of-type {
    padding-right: 7.5px;
  }
  &:last-of-type {
    padding-left: 7.5px;
  }
}

// error message
.signup-form #error_explanation {
  margin-bottom: 20px;
  padding: 5px;
  border: 1px solid $gray-brand-lighter;
  border-radius: 6px;
}

.signup-form #error_explanation h2 {
  font-size: 15px;
  margin: 10px;
}


// ==========================
// Screen size medium
// ==========================
@media (max-width: $screen-md-min) {
  .signup-form .col-md-6 {
    padding: 0 15px !important;
    &:first-of-type {
      margin-bottom: 15px;
    }
  }
}
