// ==========================
// Variables
// ==========================
// Bootstrap color var reference
// $gray-base:              #000 !default;
// $gray-darker:            lighten($gray-base, 13.5%) !default; // #222
// $gray-dark:              lighten($gray-base, 20%) !default;   // #333
// $gray:                   lighten($gray-base, 33.5%) !default; // #555
// $gray-light:             lighten($gray-base, 46.7%) !default; // #777
// $gray-lighter:           lighten($gray-base, 93.5%) !default; // #eee
$gray-lightest: lighten($gray-base, 97.5%) !default;
$white-base: #fff;
$blue-base: #408fec;
$blue-light: lighten($blue-base, 13.5%) !default;
$blue-lighter: lighten($blue-base, 20%) !default;
$blue-lightest: lighten($blue-base, 26.5%) !default;
$blue-dark: darken($blue-base, 13.5%) !default;
$blue-darker: darken($blue-base, 20%) !default;
$purple-base: #6e5baa;
$purple-light: lighten($purple-base, 13.5%) !default;
$purple-lighter: lighten($purple-base, 20%) !default;
$purple-dark: darken($purple-base, 13.5%) !default;
$purple-darker: darken($purple-base, 20%) !default;
$shadow-base: 0 1px 2px rgba(0,30,50,.15);


// ==========================
// Body
// ==========================
body {
  font-family: 'source-sans-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// ==========================
// Buttons
// ==========================
.btn {
  color: $white-base;
  border: 0;
  border-radius: 3px;
  background-color: $purple-base;
  &:hover {
    color: $white-base;
    background-color: $purple-light;
  }
}


// ==========================
// Forms
// ==========================
.form-control {
  border: 0;
  border-radius: 3px;
}

.form-control::-moz-placeholder {
  color: $gray;
}

.form-control:-ms-input-placeholder {
  color: $gray;
}

.form-control::-webkit-input-placeholder {
  color: $gray;
}


// ==========================
// Navbar
// ==========================
.navbar {
  margin-bottom: 0;
  border: 0;
  background-color: $white-base;
}

.navbar .navbar-brand {
  width: 130px;
  height: 20px;
  margin: 23px 0 !important;
  padding: 0;
  text-indent: -2222px;
  background-image: image-url('logo-black.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.navbar .btn {
  font-size: 13px;
  font-weight: 600;
  margin: 15px 0;
  padding: 10px 20px;
  color: #333;
  background-color: #e6e6e6;

  &:hover {
    color: $white-base;
    background-color: $purple-base;
  }
}

.navbar .navbar-user {
  display: inline-block;
  margin-right: 15px;
}


// ==========================
// Footer
// ==========================
.footer {
  font-weight: 600;
  color: $gray-lighter;
  background: $gray-dark;
}

.footer .row {
  padding: 50px 20px 120px;
}

.footer a {
  color: $gray-lighter;
}

.footer .list-inline > li {
  padding: 0 15px;
}


// ==========================
// Alerts
// ==========================
// Alert class reference:
// .alert-notice, .alert-alert
.alert {
  margin: 0;
  font-weight: 600;
  text-align: center;
  color: $white-base;
  border: 0;
  border-radius: 0;
  background: $purple-light;
}


// ==========================
// Scree size extra small
// ==========================
@media (max-width: $screen-xs-max) {

  .container > .navbar-header {
    float: left;
    margin-right: 0;
    margin-left: 0;

    &.navbar-right {
      float: right;
    }
  }
}


// Bootstrap media query reference
// @media (max-width: $screen-xs-max) { ... }
// @media (min-width: $screen-sm-min) { ... }
// @media (max-width: $screen-sm-max) { ... }
// @media (min-width: $screen-md-min) { ... }
// @media (max-width: $screen-md-max) { ... }
// @media (min-width: $screen-lg-min) { ... }
