// ==========================
// Body
// ==========================
body {
  font-family: 'source-sans-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// ==========================
// Wrappers
// ==========================
.wrapper {
  border-bottom: 1px solid $gray-lighter;
  background-color: $gray-page-bg;
}


// ==========================
// Typography
// ==========================
h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

a {
  color: $brand-base;
  &:hover {
    color: darken($brand-base, 15%);
  }
}

// ==========================
// Buttons
// ==========================
.btn {
  font-weight: 600;
  border: 0;
  border-radius: 3px;
}

.btn-default {
  background-color: $gray-btn-bg;
  &:hover,
  &:active,
  &:active:hover,
  &:focus {
    background-color: $gray-btn-bg-hover;
  }
}

.btn-brand {
  color: $white-base;
  background-color: $brand-base;
  &:hover,
  &:active,
  &:active:hover,
  &:focus {
    color: $white-base;
    background-color: $brand-dark;
  }
}

.btn-link {
  font-weight: 600;
  background-color: transparent;
  &:hover {
    background-color: transparent;
  }
}

.btn-sm, .btn-group-sm > .btn {
  padding: 3px 8px;
}


// ==========================
// Forms
// ==========================
.form-control {
  border-radius: 3px;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}


// ==========================
// Tables
// ==========================
table {
  font-size: 13px;
  overflow: hidden;
}

table > thead > tr > th > a {
  float: right;
  font-size: 11px;
  margin-top: 3px;
  color: $gray-light;
  &:hover {
    color: $gray;
  }
}

.table-hover > tbody > tr {
  &:hover {
    cursor: pointer;
  }
}

tr.status-published {
    border-right: 10px solid $published;
  }

  tr.status-unpublished {
    border-right: 10px solid $unpublished;
  }

  tr.status-needs-review {
    border-right: 10px solid $needs-review;
  }

  tr.tier-paid {
    border-left: 10px solid $paid;
  }

  tr.tier-free {
    border-left: 10px solid $free;
  }


// ==========================
// Panels
// ==========================
.panel-table .panel-heading {
  padding-left: 8px;
}


// ==========================
// Pagination
// ==========================
.pagination > li > a {
  font-weight: 600;
  color: $brand-base;
  &:hover {
    color: $brand-base;
  }
}

.pagination > .active > a {
  border-color: $brand-base;
  background-color: $brand-base;
  &:hover {
    color: $white-base;
    background-color: $brand-base;
  }
}


// ==========================
// Breadcrumb
// ==========================
.breadcrumb > li {
  font-weight: 600;
  font-size: 18px;
}

.breadcrumb > .active {
  color: $gray-dark;
}


// ==========================
// Alerts
// ==========================
.alert {
  font-weight: 600;
  margin: 0;
  text-align: center;
  color: $white-base;
  border: 0;
  border-radius: 0; 
}

.alert-notice,
.alert-alert {
  background-color: $brand-base;
}

.alert-success {
  background-color: $published;
}

.alert-error {
  background-color: $unpublished;
}


// ==========================
// Labels
// ==========================
.label-needs-review {
  background-color: $needs-review;
}

.label-published {
  background-color: $published;
}

.label-unpublished {
  background-color: $unpublished;
}

.label-paid {
  background-color: $paid;
}

.label-free {
  background-color: $free;
}


// ==========================
// Scree size extra small
// ==========================
@media (max-width: $screen-xs-max) {
  .container > .navbar-header {
    float: left;
    margin-right: 0;
    margin-left: 0;
    &.navbar-right {
      float: right;
    }
  }
}


// Bootstrap media query reference
// @media (max-width: $screen-xs-max) { ... }
// @media (min-width: $screen-sm-min) { ... }
// @media (max-width: $screen-sm-max) { ... }
// @media (min-width: $screen-md-min) { ... }
// @media (max-width: $screen-md-max) { ... }
// @media (min-width: $screen-lg-min) { ... }
