// ==========================
// Variables
// ==========================
$white-base: #fff;
$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%);
$gray-dark: lighten($gray-base, 20%);
$gray: lighten($gray-base, 33.5%);
$gray-light: lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);
$gray-page-bg: lighten($gray-base, 97.5%);
$brand-base: #6e5baa;
$brand-light: lighten($brand-base, 13.5%);
$brand-lighter: lighten($brand-base, 20%);
$brand-dark: darken($brand-base, 13.5%);
$brand-darker: darken($brand-base, 20%);


// ==========================
// Main
// ==========================
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  color: $gray-dark;

  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}

table {
  margin: 0;
  padding: 0;
  border-spacing: 0;
  border: 0;
}

img {
  display: block;
  text-decoration: none;
  -ms-interpolation-mode: bicubic;
  outline: none;
}

a img {
  border: none;
}

a {
  text-decoration: none;
  color: $gray-base;
}

p {
  font-size: 14px;
  line-height: 1.5;
}

h1 {
  font-size: 28px;
  font-weight: 300;
  line-height: 38px;
  margin: 0;
}

h3 {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  margin: 0;
}

// ==========================
// Body wrapper
// ==========================
.body-wrapper {
  line-height: 100% !important;
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
}

// ==========================
// Buttons
// ==========================
.button {
  font-size: 15px;
  display: inline-block;
  padding: 12px 15px;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background-color: $brand-base;
}

// ==========================
// Header
// ==========================
.preheader {
  display: none !important;
  visibility: hidden !important;
}

// ==========================
// Header
// ==========================
.header {
  display: block;
  padding: 30px;
  background-color: $gray-page-bg;
}

.header-logo {
  position: relative;
  display: inline-block;
  width: 130px;
  height: 24px;
}

.header-logo__image {
  width: 100%;
  height: auto;
}

// ==========================
// Footer
// ==========================
.footer {
  display: block;
  padding: 30px;
  color: $gray-light;
  background-color: $gray-page-bg;
}

.footer-button {
  font-size: 15px;
  font-weight: 300;
  display: inline-block;
  margin: 0 15px 20px 0;
  color: $brand-dark;
}

.footer-copy {
  font-size: 12px;
  margin-top: 9px;
}

.footer-copy__link {
  text-decoration: underline;
  color: $gray-light;
}

.footer hr {
  margin: 0 0 30px 0;
}

// ==========================
// Content sections
// ==========================
.section {
  display: block;
  padding: 45px 30px;
}

.section-header,
.section-subheader {
  margin-bottom: 5px;
}

.section .button {
  margin: 10px 0 15px 0;
}

.section p {
  font-size: 13px;
  font-weight: 300;
  margin: 5px 0;
}

// ==========================
// Horizontal rule
// ==========================
.hr,
.hr tbody,
.hr tr,
.hr td {
  display: block;
}

.hr hr {
  margin: 0 0 30px 0;
  border: 0;
  height: 1px;
  background-color: $gray-light;
}
