<%= render 'shared/email_header', preheader: 'We&#39;re contacting you to notify you that your password has been changed. To report any issues or for general inquiries email us at hello@eruditionapp.com. Erudition App, Inc. 520 Chestnut St, Philadelphia, PA 19106' %>

<table class="section">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <h1 class="section-header">Hello!</h1>
          </td>
        </tr>
      </table>
      <table>
        <tr>
          <td>
            <h3 class="section-subheader">We're contacting you to notify you that your password has been changed.</h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
