<table class="section">
  <tr>
    <td>
      <table>
        <tr>
          <td>
            <h1 class="section-header">Hello <%= @resource.email %>!</h1>
          </td>
        </tr>
        <tr>
          <td>
            <h3 class="section-subheader">We're contacting you to notify you that your password has been changed.</h3>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
