<div class="page page-dashboard">
  <div class="wrapper wrapper--light">
    <div class="container">
      <div class="pagehead">
        <div class="row">
          <div class="col-xs-12">
            <ol class="breadcrumb">
              <li class="active"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>Edit Deck</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-5">

        <%= render 'shared/deck_form', new: false %>

      </div>
    </div>
  </div>
</div>
