<div class="page page-dashboard">
  
  <div class="wrapper wrapper--light">
    <div class="container">

      <div class="dashboard-pagehead">
        <div class="row">
          <div class="col-xs-6">
            <ol class="breadcrumb">
              <li class="active"><h4>Decks</h4></li>
            </ol>
          </div>
          <div class="col-xs-6">
            <div class="btn-group pull-right">
              <%= link_to 'Create Deck', new_deck_path, class: 'btn btn-brand' %>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  
  <div class="container">

    <div class="dashboard-summary">
      <div class="row">
        <div class="col-xs-12">
          <div class="well">
            <ul class="list-inline">
              <li><span class="glyphicon glyphicon-book" aria-hidden="true"></span><strong>10</strong> Decks</li>
              <li class="list-item-label"><span class="label label-success">0 Published</span></li>
              <li class="list-item-label"><span class="label label-warning">0 Unpublished</span></li>
              <li class="list-item-label"><span class="label label-primary">10 Paid</span></li>
              <li class="list-item-label"><span class="label label-info">0 Free</span></li>
            </ul>
            <ul class="list-inline">
              <li><span class="glyphicon glyphicon-bookmark" aria-hidden="true"></span><strong>4</strong> Categories</li>
              <li class="list-item-label"><span class="label label-default">Category 1</span></li>
              <li class="list-item-label"><span class="label label-default">Category 2</span></li>
              <li class="list-item-label"><span class="label label-default">Category 3</span></li>
              <li class="list-item-label"><span class="label label-default">Category 4</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="dashboard-toolbar">
      <div class="row">
        <div class="col-sm-6">
          <div class="input-group">
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter <span class="caret"></span></button>
              <ul class="dropdown-menu">
                <li><a href="#">Published</a></li>
                <li><a href="#">Unpublished</a></li>
                <li><a href="#">Paid</a></li>
                <li><a href="#">Free</a></li>
              </ul>
            </div>
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">  
        <div class="panel panel-default">
          <div class="panel-heading">All Decks</div>
          <table class="table table-bordered table-hover table-links">
            <thead>
              <tr>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Author</th>
                <th>Categories</th>
              </tr>
            </thead>
            <tbody>
              <% @decks.each do |deck| %>
                <%= render deck %>
              <% end %>
            </tbody>
          </table>      
        </div>
        <nav>
          <ul class="pagination">
            <li class="disabled">
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">«</span>
              </a>
            </li>
            <li class="active">
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">4</a>
            </li>
            <li>
              <a href="#">5</a>
            </li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">»</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
