<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= stylesheet_link_tag 'email' %>
    <style data-roadie-ignore>
      /* Reset */
      /* via: https://github.com/seanpowell/Email-Boilerplate/blob/master/email_min.html */
      #outlook a {
        padding: 0;
      }
      .ExternalClass {
        width: 100%;
      }
      .ExternalClass,
      .ExternalClass p,
      .ExternalClass span,
      .ExternalClass font,
      .ExternalClass td,
      .ExternalClass div {
        line-height: 100%;
      }
      p {
        font-size: 0;
        line-height: 0;
        margin: 0;
        padding: 0;
      }
      table td {
        border-collapse: collapse;
      }
      table {
        border-collapse: collapse;

        mso-table-lspace: 0;
        mso-table-rspace: 0;
      }
    </style>
    <!--[if gte mso 9]>
      <style>
      /* Target Outlook 2007 and 2010 */
      </style>
    <![endif]-->
  </head>
  <body>
    <table class="body-wrapper">
      <tr>
        <td>

          <%= render "shared/email_header" %>

          <%= yield %>

          <%= render "shared/email_footer" %>
          
        </td>
      </tr>
    </table>
  </body>
</html>
